@import url("https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:700|Nanum+Gothic:400,700,800|Inter:700|Oleo+Script:400,700");

.order-compeleted {
  align-items: center;
  background-color: var(--foodingwhite);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.flex-row {
  align-items: center;
  display: flex;
  margin-right: 34px;
  margin-top: 31px;
  min-width: 1332px;
}

.icon-person-crop-circle {
  cursor: pointer;
  height: 32px;
  margin-left: 36px;
  margin-top: 9.4px;
  width: 35px;
}

.group-20 {
  gap: 19px;
  min-width: 360px;
}

.order-compeleted .group {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
}

.rectangle-828517 {
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.title {
  color: var(--foodingbase3);
  font-family: var(--font-family-oleo_script_swash_caps);
  font-size: var(--font-size-l2);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 68px;
  width: 259px;
}

.icon-bell {
  height: 32px;
  margin-left: 150px;
  margin-top: 9.4px;
  width: 32px;
}

.frame-694 {
  margin-left: 157px;
  margin-top: 16px;
  width: 562px;
}

.order-compeleted .frame {
  align-items: flex-start;
  display: flex;
}

.order-compeleted .line {
  align-self: center;
  height: 27px;
  margin-bottom: 1px;
  object-fit: cover;
  width: 1px;
}

.line-2 {
  margin-left: 46px;
}

.about-fooding {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  min-width: 196px;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.support {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 46px;
  margin-top: -1px;
}

.notice {
  height: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 42px;
  margin-top: -1px;
  min-width: 84px;
  text-align: center;
}

.line-1 {
  margin-left: 42px;
}

.lunch-box-pick-up-has-been-applied {
  color: var(--foodingred);
  font-family: var(--font-family-oleo_script);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 218px;
  min-height: 66px;
  min-width: 670px;
  text-align: center;
}

.please-go-to-banam {
  color: var(--foodingbase2);
  font-family: var(--font-family-oleo_script);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 48px;
  min-height: 132px;
  min-width: 622px;
  text-align: center;
}

.group-22 {
  margin-left: 11px;
  margin-top: 88px;
  min-width: 271px;
}

.frame-682 {
  background-color: 
#ffffff80;
  border: 1px solid;
  border-color: var(--foodingbase3);
  border-radius: 20px;
  gap: 56px;
  height: 50px;
  overflow: hidden;
  padding: 16px 30px;
  width: 271px;
}

.vector {
  align-self: center;
  height: 16px;
  width: 8px;
}

.go-back-to-homepage {
  color: var(--foodingbase3);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 16px;
  letter-spacing: -0.07px;
  line-height: normal;
  min-width: 147px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frame-692 {
  background-color: var(--foodingbase3);
  height: 100px;
  margin-top: 211px;
  padding: 28px 148px;
  width: 1440px;
}

.x123-cheomdangwagi-r {
  color: var(--foodingwhite);
  font-family: var(--font-family-nanum_gothic);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 41px;
  letter-spacing: 0;
  line-height: normal;
}